{{- $fullName := include "backend.fullname" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/auto: "true"
    {{- if .Values.annotations }}
    {{- toYaml .Values.annotations | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "backend.labels" . | nindent 8 }}
 {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.podAnnotations }}
      annotations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.dockerConfig.enabled }}
      imagePullSecrets:
        - name: "{{ $fullName }}-dockerconfigjson"
      {{- else }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ $fullName }}
            {{- range $v:= .Values.envFrom}}
            - configMapRef:
                name: {{ $v }}
            {{- end }}
            {{- range $v:= .Values.externalSecrets }}
            - secretRef:
                name: {{ $fullName }}-{{ $v.refSecretName }}-secret
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            {{- if .Values.grpcService.enabled }}
            - name: grpc
              containerPort: {{ .Values.grpcService.port }}
              protocol: TCP
            {{- end }}
          {{- if .Values.healthCheck.enabled }}
          {{- with .Values.probes }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- end }}
